<phpunit bootstrap="tests/bootstrap.php"
		 colors="true"
		 stopOnFailure="false"
		 syntaxCheck="false"
>
	<testsuitest>
		<testsuite name="Framework Tests">
			<directory>tests/system/</directory>
		</testsuite>
	</testsuitest>

	<selenium>
	  	<browser host="localhost"
	  	 		 port="4444"
	        	 timeout="30000"/>
	</selenium>

</phpunit>